<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.png">
    <title>AGRI SL</title>

    <!-- CSS FILES START -->
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/color.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <!-- CSS FILES End -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrapper home2">

    <!--Header Start-->
    <header class="header-style-2">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index-2.html"><img th:src="@{/images/agrifooter.png}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link "  role="button" th:href="@{/}" aria-haspopup="true" aria-expanded="false"> Home </a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="events-grid.html"  role="button" aria-haspopup="true" aria-expanded="false" th:href="@{/events}"> Events </a>

                    </li>
                    <li class="nav-item"> <a class="nav-link" th:href="@{/suppliers}">Supply</a> </li>

                    <li class="nav-item ">
                        <a class="nav-link "  role="button" th:href="@{/buyers}" aria-haspopup="true" aria-expanded="false"> Buyers </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " th:href="@{/contacts}"  role="button" aria-haspopup="true" aria-expanded="false"> Contact </a>


                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <!--Header End-->
    <!--Inner Header Start-->
    <section class="wf100 p100 inner-header">
        <div class="container">
            <h1>Register here to Purchase your Items.</h1>
            <ul>
                <li><a th:href="@{redirect:/}">Home</a></li>
                <li><a th:href="@{/buyers}"> Buyers </a></li>
            </ul>
        </div>
    </section>
    <!--Inner Header End-->
    <!--Causes Start-->
    <section class="wf100 p80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="myaccount-form">
                        <h3>Register Buyer Account</h3>
                        <form action="#" th:action="@{/saveBuyer}" th:object="${buyer}"
                              method="POST">
                            <ul class="row">
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:field="*{firstName}"
                                               placeholder="Buyer First Name" required>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:field="*{lastName}"
                                               placeholder="Buyer Last Name" required>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:field="*{wantedItems}"
                                               placeholder="Your Item List " required>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:field="*{telephone}"
                                               placeholder="Telephone No">
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:field="*{address}" placeholder="Address" >
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:field="*{date}"  placeholder="Date">
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" th:field="*{KG}"  placeholder="Weight">
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <div class="input-group form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">I agree to the Terms of <a href="#">Services & Privacy Policy</a></label>
                                    </div>
                                </li>
                                <li class="col-md-12">
                                    <button class="register">Save Buyer</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Causes End-->

    <!--Footer Start-->
    <footer class="footer">
        <div class="footer-top wf100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">

                    <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <h4>About AgriSL</h4>
                            <p> AgriSL is platform for the sri lankan farmers that would help to them to acquire agricultural supplyments and to sale their product to buyers. It will grow today’s economy, it’s saving money, including a broad range of green agricultural supplier and merchants who are waiting to buy, helping people save time, and other resources.  </p>
                            <a href="#" class="lm">About us</a>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">

                    <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <h4>Our Promises</h4>
                            <ul class="quick-links">
                                <li><a href="#">Finding best buyers. </a></li>
                                <li><a href="#">Supply agricultural needs </a></li>
                                <li><a href="#">Solar Energy</a></li>
                                <li><a href="#">Waste Management</a></li>
                                <li><a href="#">Eco Ideas</a></li>
                                <li><a href="#">Recycling Materials</a></li>
                                <li><a href="#">Plant Ecology</a></li>
                            </ul>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">

                    <!--Footer Widget Start-->
                        <div class="footer-widget">
                            <h4>Latest Events</h4>
                            <ul class="lastest-products">
                                <li> <img src="/images/flp1.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i>Posted:</i> 29 September, 2018</span> </li>
                                <li> <img src="/images/flp2.jpg" alt=""> <strong><a href="#">Eliminate your plastic bottle pollution & keep...</a></strong> <span class="pdate"><i>Posted:</i> 29 September, 2018</span> </li>
                                <li> <img src="/images/flp3.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i>Posted:</i> 29 September, 2018</span> </li>
                            </ul>
                        </div>
                        <!--Footer Widget End-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyr wf100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4"> <img src="/images/agrifooter.png" alt=""> </div>
                    <div class="col-md-8 col-sm-8">
                        <p><a target="_blank" href="https://www.deveenrathnayake.me">Devin Rathnayake</a></p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End-->
</div>
</body>
</html>